<html>

<head>
    <title>Crowdfunding Event</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">

</head>

<body class="body">
    <br/>
    <center> 
      <h2>Details about Funds Utilization</h2>
    </center>
    <br/>
  
    <div> <header>
        <img src = "/img/fundutilization.jpg" height="500" width="980"/>
      </header>
    </div>

    <!-- <section>
      <article>
        <hr>
        <a class="twitter-timeline"
            href="https://twitter.com/PMcares"
              data-width="300"
              data-height="300">
            Tweets by @PMCares
        </a>
      </article>
    </section> -->

    
</body>

</html>
